/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/07/2023, 05:42:38 PM
    Author     : pcgc7
*/

/* Estilos universales */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* Variables */
:root { --colorAzul: #003958; --colorDorado: #b59a47; --colorBlanco: #fff; --colorGris: #bdbdbd; --colorNegro: #000; --colorMarron: #a41313; }

/* Bordes usados como títulos en las páginas */
.borde_pq { position: relative; width: 17%; border-bottom: 0.25rem solid var(--colorMarron);  /* border-bottom: 0.25rem solid #730d0d; */ }
.borde_md { position: relative; width: 50%; border-bottom: 0.25rem solid var(--colorMarron);  /* border-bottom: 0.25rem solid #730d0d; */ }
.borde_gr { position: relative; width: 100%; border-bottom: 0.25rem solid var(--colorMarron); /* border-bottom: 0.25rem solid #730d0d; */ }
.list-group-item { border: none; background-color: transparent; padding: 0.25rem 0; }

